footer {
  padding: 30px 0 10px 0;
  transition: 0.5s;
  bottom: 0;
  color: white;
}

footer a {
  text-decoration: none;
  color: rgb(230, 55, 55);
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
